.content{
  transition: margin-left 0.3s ease;
}

.navbar-brand{
  font-family: 'playfair Display',serif;
  text-shadow: 2px 2px 3px;
}

.first{
  width: 91%;
  margin-left: 45px;
  border-radius: 10px;
}
.carousel-inner2{
  
  width: 91%;
  margin-left: 45px;
  border-radius: 10px;
  
  
}
.card-custom{
  margin-bottom: 20px;
  box-shadow:  0 0 16px white, 0 0 9px grey, 0 0 44px white;
  border-radius: 30px;
  border: none;
}

#imageDisplay{
 box-shadow:  0 0 16px white, 0 0 9px grey, 0 0 44px white;
 border-radius: 30px;
}


h1,p{
  margin-top:20px;
  font-family: 'playfair Display',serif;
  margin-left: 20px;
  text-shadow: 2px 2px 3px;
  color: darkgoldenrod;
}
.icons{
  margin-left: 50%;
  overflow: -moz-hidden-unscrollable;
  
}
.icons i {
  margin-right: 10px;
  font-size: 14pt;
  color:rgb(26, 19, 19);
  display: inline-block;
}
.form-control{
  border-radius: 10px;
  box-shadow:3px 1px 2px 1px grey;
}
.btn1{
  border-radius: 10px;
  box-shadow:3px 1px 2px 1px grey;
  background-color: green;
  border:none;
}

/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(248, 223, 173, 0.1), rgba(248, 223, 173, 0.1)), url(src/img/hero-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item {
    position: relative;
}

.carousel-item a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    background: linear-gradient(rgba(255, 181, 36, 0.7), rgba(255, 181, 36, 0.7));
}

.carousel-control-next,
.carousel-control-prev {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    border: 1px solid var(--bs-white);
    background: var(--bs-primary);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-next {
    margin-right: 20px;
}

.carousel-control-prev {
    margin-left: 20px;
}

.page-header {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(src/img/cart-page-header-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#text{
  color: grey;
  text-shadow: none;
  margin-left: 7%;
}
#btn2{
  border-radius: 20px;
  background-color: transparent;
  margin-left: 60%;
  color:black;
  height:50px;
  width: 40%;
}
.bi-gear:hover{
  color:red;
}
.switch{
  display: block;
  margin-left: 50px;
  margin-top: 10px;
}
.switch .btn-outline-success{
  display: inline-block;
  margin-right: 20px;
}

@media only screen and (min-width:542px){
.tt {
  display: block;
  margin-right: 6px;
  border-radius: 10px;
  margin-left: 40%;
  margin-top: 10px;
  padding: 20px;
}

#settings{
  width:40%;
  height:100%;
  background-color: black;
  z-index:6;
  position: fixed;
  left:-600px;
  top:0;
  
  transition: left 0.3s ease;
}

.switch .switcher{
  display:none;
}
}

@media (min-width: 992px) {
    .hero-header,
    .page-header {
        margin-top: 152px !important;
    }

    .tt {
      display: block;
      margin-right: 6px;
      border-radius: 10px;
      margin-left: 40%;
      margin-top: 10px;
      padding: 20px;
    }
    .searchBtn{
      margin-left: 60%;
      display: none;
    }
    .searchBtn2{
      display: none;
    }

    .carousel-inner2 {
    
      width: 100%;
      margin-left: 14.5px;
      border-radius: 10px;
    }

    #settings{
      width:40%;
      height:100%;
      background-color: black;
      z-index:6;
      position: fixed;
      left:-850px;
      top:0;
      
      transition: left 0.3s ease;
    }
    .switch .switcher{
      display: none;
    }
}

@media (max-width: 992px) {
    .hero-header,
    .page-header {
        margin-top: 97px !important;
    }
}
/*** Hero Header end ***/
#promo .card{
  
}


@media only screen and (max-width:600px){
  .first {
    width: 92%;
    margin-left: 14.5px;
    border-radius: 10px;
  }
  
  .carousel-inner2 {
    
    width: 92%;
    margin-left: 14.5px;
    border-radius: 10px;
  }
  .tt {
    display: inline;
    margin-right: 4px;
  
    border-radius: 10px;
  }

  #settings{
    width:70%;
    height:100%;
    background-color: black;
    z-index:6;
    position: fixed;
    left:-600px;
    top:0;
    
    transition: left 0.3s ease;
  }

  .switch{
    display: block;
    margin-left: 20px;
    margin-top: 10px;
  }
  .switch .btn-outline-success{
    display: inline-block;
    margin-right: 20px;
  }

  .switch .switcher{
    display: inline-block;
    margin-left: 15%;
  }
  .switch .switcher i{
    font-size: 17pt;
    margin-right: 10px;
  }
  .card-custom{
  margin-bottom: 20px;
  box-shadow:  0 0 16px white, 0 0 9px grey, 0 0 44px white;
  border-radius: 1px;
  border: none;
}

#imageDisplay{
 box-shadow:  0 0 16px white, 0 0 9px grey, 0 0 44px white;
 border-radius: 1px;
}

}

